body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 1.3vw;
  color: #FFFFFF;
}
img{
  width: 2em;
  height: inherit;
}
a{
  text-decoration: none;
}
input{
  font-size: 100%;
  background-color: #161616D9;
  color: #FFFFFF;
  border: 0px solid transparent;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 2.5em;
  width: 25em;
  height:1em;
}
input:focus{
  outline-style: groove;
  outline-color: black;
}
.Header{
  width: inherit;
  height: 4.5em;
  background-color: #020202;
  /**background-color é #020202**/
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-top: 1em;
  font-style: Regular;
}
.Banner{
  width: inherit;
  height: 39em;
  background-color: #070707FA;
  /**background-color é #070707FA**/
  font-style: Medium;
}
.SecaoUm{
  width: inherit;
  height: 100%;
  background-color: #101010;
  /**background-color é #101010**/
  font-size: 100%;
  display: flex;
}
.SecaoDois{
  width: inherit;
  height: 35em;
  background-color: #070707FA;
  /**background-color é #070707FA**/
  display: flex;
  padding-top: 3em;
}
.SecaoTres{
  width: inherit;
  height: 45em;
  background-color: #101010;
  /**background-color é #FFFFFF**/
  display: grid;
}
.SecaoQuatro{
  width: inherit;
  height: 35em;
  background-color: #070707FA;
  color: #FFFFFF;
  /**Background-color é #070707FA**/
  display: flex;
}
.SecaoCinco{
  width: inherit;
  height: 35em;
  background-color: #101010;
  display: flex;
}
.Footer{
  width: inherit  ;
  height: 20em;
  background-color: #101010;
}
.HeaderEsquerda{
  float: left;
  width: 70%;
  height: inherit;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}
.HeaderDireita{
  float: right;
  width: 30%;
  height: 71%;
  padding-top: 1.3em;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}
.BannerSuperior{
  width: 50%;
  height: 16em;
  background-color: transparent;
  text-align: left;
  display: block;
  padding-left: 3em;
  padding-top: 4em;
}
.BannerInferior{
  width: 100%;
  height: 16em;
  display: flex;
}
.SecaoDoisEsquerda{
  width: 40%;
  padding-left: 5%;
}
.SecaoDoisDireita{
  width: 60%;
  display: flex;
}
.SecaoQuatroDireita{
  float: left;
  width: auto;
  height: 100%;
  display: block;
  font-size: 130%;
  font-weight: bold;
  margin-top: 4em;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.SecaoCincoEsquerda{
  float: left;
  width: 40%;
  height: 100%;
  display: block;
  background: -webkit-linear-gradient(top, #A020F0 30%, #004AAD 100%);
  padding-left: 4%;
  padding-right: 5%;
}
.texto{
  margin: 1em;
  position: relative;
  bottom: 0.7em;
  font-size: 120%;
  color: #FFFFFF;
}
.textoEcaixa{
  margin: 1em;
  padding: 0.3em;
  border: 0.1em solid aliceblue;
  bottom: 0.1em;
  position: relative;
  bottom: 0.6em;
  font-weight: bold;
  color: #FFFFFF;
}
.textoBanner{
  font-size: 3em;
  font-weight: bold;
  background: -webkit-linear-gradient(top left, #A020F0 30%, #004AAD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textoBotao{
  font-family: Inter, sans-serif;
  width: max-content;
  background-color: #8D41BDCC;
  border-radius: 1em;
  padding: 0.8em;
  position: relative;
  top: 2em;
  color: #FFFFFF;
}
.textoEbanner{
  font-size: 100%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
.imagens{
  height: 3em;
  width: 3em;
}
.CarujaGigante{
  height: 40em;
  width: 25em;
  opacity: 70%;
  margin: 2em;
  margin-left: 10em;
  margin-right: 5em;
}
.textosecum{
  font-size: 100%;
  text-align: left;
  margin-left: 2em;
  margin-right: 6em;
  margin-top: 4em;
  width: 50%;
}
.underlinecolor{
  position: relative;
  width: max-content;
}
.underlinecolor::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 0.1em;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #A020F0 30%, #004AAD 100%);
}
.LaCaixa{
  margin-top: 6em;
  padding: 0em;
  width: auto;
  height: 10.5em;
  background-color: #181818;
  border-radius: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.TextoImagem{
  margin-top: 1em;
  margin-left: 5em;
  width: 30%;
}
.LaCaixaComCor{
  margin-top: 2em;
  margin-left: 3.9%;
  padding: 0em;
  width: 20%;
  height: 25em;
  background: -webkit-linear-gradient(top, #A020F0 30%, #004AAD 100%);
  border-radius: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
}
