body{
  width: device-widht;
  height: device-height;
}
img{
  width: 2em;
  height: inherit;
}
a{
  text-decoration: none;
}
.Sith{
  width: inherit;
  height: inherit;
  background-color: gray;
}
.Header{
  width: inherit;
  height: 4.5em;
  background-color: #020202;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-top: 1em;
}
.Banner{
  width: inherit;
  height: 20em;
  background-color: #0b0b0b;
}
.HeaderEsquerda{
  float: left;
  width: 70%;
  height: inherit;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}
.HeaderDireita{
  float: right;
  width: 30%;
  height: 71%;
  padding-top: 1.3em;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}
.BannerSuperior{
  width: 50%;
  height: 16em;
  background-color: #0b0b0b;
  text-align: left;
  display: block;
  padding-left: 3em;
  padding-top: 4em;
}
.texto{
  margin: 1em;
  position: relative;
  bottom: 0.7em;
  font-size: 120%;
  color: aliceblue;
}
.textoEcaixa{
  margin: 1em;
  padding: 0.2em;
  border: 0.2em solid aliceblue;
  bottom: 0.1em;
  color: aliceblue;
  position: relative;
  bottom: 0.6em;
}
.textoBanner{
  font-size: 3em;
  font-weight: bold;
  font-family: Inter, sans-serif;
  background: -webkit-linear-gradient(left, #A020F0, #004AAD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textoBotao{
  color: aliceblue;
  background-color: #8D41BDCC;
  border-radius: 1em;
  padding: 0.8em;
  position: relative;
  top: 4em;
  right: 25.7em;
}
